<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <title>Document</title>
    </head>
    <body>
        <div id="login-wrapper">
            <input id="username" placeholder="Namn" />
            <input id="password" placeholder="Lösenord" />
            <button onclick="sendForm('/login')" id="login">Logga in</button>
            <button onclick="sendForm('/register')" id="register">Skapa användare</button>
        </div>

        <script>
            const username = document.getElementById("username")
            const password = document.getElementById("password")
            const login = document.getElementById("login")
            const register = document.getElementById("register")

            const sendForm = async (endpoint) => {
                const res = await fetch(`http://localhost:3000/users${endpoint}`, {
                    method: "POST",
                    redirect: "follow",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        username: username.value,
                        password: password.value
                    })
                })

                if (res.ok) {
                    window.location.href = "/dash"
                } else {
                    const data = await res.json()
                    console.log(data)
                }
            }
        </script>
    </body>
</html>
